@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

html {
    scroll-behavior: smooth;
}

body {
    /* background: #EEF8FF; */
    font-family: url('data/fonts/Roboto-Regular.ttf');
    animation-name: fadeIn;
    animation-duration: 2s;
    text-align: center;
}

.navbar {
    background: #454BF8;
    width: 100%;
    margin: 0 0;
}

.jumbo {
    text-align: left;
    /* background: #78E3FD; */
    /* color: white; */
    font-family: url('data/fonts/Roboto-Medium.ttf');
    font-size: 30px;
    width: 100%;
    /* height: 500px; */
    max-width: 1920px;
    margin: 0 auto;
}

/* The animation code */


.jumbo div {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    padding-top: 6%;
}

.jumbo div span {
    color: #454BF8;
    font-size: 40px;
}

#infoSection {
    background: rgba(0, 0, 0, 0);
}

.project {
    text-align: center;
    width: 230px;
}

.project span {
    animation-name: slideIn;
    animation-duration: 2s;
    text-align: center;
    display: block;
    background: white;
    height: 200px;
    padding: 30px;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    color: darkgrey;
    width: 230px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.project span h4 {
    color: rgb(124, 124, 124);
}

.project span p {
    padding-top: 25px;
    font-size: 30px;
    color: #454BF8;
}

.row .col a {
    color: white;
    transition: all 0.2s;
}

.row .col a:hover {
    color: rgb(180, 180, 180);
    transition: all 0.2s;
}

.post {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    background: white;
    text-align:left;
}

.post h3 {
    color: #454BF8;
}


/* ------------ */

body {
    margin:0px;
  }
.colour-block {
    background: #454BF8;
    /* width:60%; */
    padding:7% 20% 10% 20%;
    color:#fff;
    width: 100%;
}
.white-block {
    background:#fff;
    /* width: 60%; */
    padding:7% 20% 10% 20%;
    color:#454BF8;
}
h1 {
    text-align:center;
    font-size:80px;
    /* font-family:'wire one', serif; */
    font-weight:normal;
}
p {
    font-size:20px;
    /* font-family:'Raleway', serif; */
}

#navbarWrap {
    text-align: center;
    width: 100%;
    background: #454BF8;
}


/*------------------*/
/*  SKEW CLOCKWISE  */
/*------------------*/
.skew-cc{
    width:100%;
    height:100px;
    position:relative;
    left:0px;
    background: linear-gradient(to right bottom, #454BF8 49%, #fff 50%), linear-gradient(-50deg, #ffffff 16px, #000 0);
}


/*-------------------------*/
/* SKEW COUNTER CLOCKWISE  */
/*-------------------------*/
.skew-c{
    width:100%;
    height:100px;
    position:relative;
    left:0px;
    background: linear-gradient(to left bottom, #fff 49%, #454BF8 50%);
}

/* Tooltips */

.tooltip {
display: inline-block;
opacity: 1;
font-size: 30px;
}

.tooltip .tooltiptext {
visibility: hidden;
width: 200px;
background-color: #36393f;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 5px 3px;
position: absolute;
z-index: 1;
bottom: 100%;
left: 50%;
margin-left: -100px;
font-size: 16px;

/* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
opacity: 0;
transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
visibility: visible;
opacity: 1;
}

#mrShow {
    display: none;
}

@media only screen and (max-width: 1120px) {
    #mr {
        display: none;
    }
    #mrShow {
        display: block;
    }
    #aboutMe > p:nth-child(3) {
        width: 100%;
        margin: 0;
        font-size: 16px;
    }
    #aboutMe > h1:nth-child(1), #projects > h1:nth-child(1) {
        font-size: 60px;
    }

    #aboutMe, div.colour-block:nth-child(5), .jumbo{
        width: 100%;
        margin: 0px;
        padding: 20px;
    }

    .white-block > h1:nth-child(1) {
        font-size: 40px;
        height: 60px;
        margin-bottom: 70px;
    }

    .post p {
        font-size: 17px;
    }
}